.Menu {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 8px;
    height: 80px;
    width: 42%;
    margin: 15px;
    padding: 5px;
    overflow: auto;
}
.Menu img {
    width: 80px;
    padding: 10px;
}
.Menu-name {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px 0;
}
.Menu-name h5 {
    margin: auto 0;
}
.Menu-name p {
    margin: auto 0;
}