
.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 0;
    margin: 2px;
    font-weight: bold;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}