.Cart {
    border: 2px solid black;
    border-radius: 8px;
    position: fixed;
    top: 85px;
    right: 15px;
    width: 25%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    padding: 10px;
}

.Cart h3 {
    position: absolute;
    top: -12px;
    left: 20px;
    margin: 0;
    background: #fff;
    padding: 0 10px;
}

.Cart-item {
    display: flex;
    margin: auto 0;
}

.Cart-total p {
    margin: auto auto auto 0;
}

.Cart-price {
    position: static;
    bottom: 20px;
    right: 10px;
    border-top: 2px solid black;
}